body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 200px);
	gap: 15px;
	/* place-content: start center; */
	width: 89%;
	margin: auto auto;
	margin-top: 15px;
	
}

.header {
	grid-area: 1 / 1 / 2 / 13;
	border: 1px solid #333;
}

.box1 {
	grid-area: 2 / 1 / 3 / 3;
	border: 1px solid #333;
}

.box2 {
	grid-area: 2 / 3 / 3 / 11;
	border: 1px solid #333;
}

.box3 {
	grid-area: 2 / 11 / 3 / 13;
	border: 1px solid #333;
}

.main {
	grid-area: 3 / 1 / 4 / 10;
	border: 1px solid #333;
}

.aside {
	grid-area: 3 / 10 / 4 / 13;
	border: 1px solid #333;
}

.footer {
	grid-area: 4 / 1 / 5 / 13;;
	border: 1px solid #333;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer1,
.footer2,
.footer3,
.footer4 {
	border: 1px solid #333;
	margin: 10px;
}
 /* Screens <1200px */
@media screen and (max-width: 1200px) {

	.header {
		grid-area: 1 / 1 / 2 / 13;
		border: 1px solid #333;
	}
	
	.box1 {
		grid-area: 2 / 1 / 3 / 4;
		border: 1px solid #333;
	}
	
	.box2 {
		grid-area: 2 / 4 / 3 / 10;
		border: 1px solid #333;
	}
	
	.box3 {
		grid-area: 2 / 10 / 3 / 13;
		border: 1px solid #333;
	}
	
	.main {
		grid-area: 3 / 1 / 4 / 9;
		border: 1px solid #333;
	}
	
	.aside {
		grid-area: 3 / 9 / 4 / 13;
		border: 1px solid #333;
	}
	
	.footer {
		grid-area: 4 / 1 / 5 / 13;;
		border: 1px solid #333;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	.footer1,
	.footer2,
	.footer3,
	.footer4 {
		border: 1px solid #333;
		margin: 10px;
	}
}

/* Screens <960px */
@media screen and (max-width: 960px) {
		
	.header {
		grid-area: 1 / 1 / 2 / 13;
		border: 1px solid #333;
	}
	
	.box1 {
		grid-area: 2 / 1 / 3 / 5;
		border: 1px solid #333;
	}
	
	.box2 {
		grid-area: 2 / 5 / 3 / 9;
		border: 1px solid #333;
	}
	
	.box3 {
		grid-area: 2 / 9 / 3 / 13;
		border: 1px solid #333;
	}
	
	.main {
		grid-area: 3 / 1 / 4 / 7;
		border: 1px solid #333;
	}
	
	.aside {
		grid-area: 3 / 7 / 4 / 13;
		border: 1px solid #333;
	}
	
	.footer {
		grid-area: 4 / 1 / 6 / 13;;
		border: 1px solid #333;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 200px)
	}
	
	.footer1 {
		grid-area: 1 / 1 / 2 / 2;
		border: 1px solid #333;
		margin: 10px;
	}
	.footer2 {
		grid-area: 1 / 2 / 2 / 3;
		border: 1px solid #333;
		margin: 10px;
	}
	.footer3 {
		grid-area: 2 / 1 / 3 / 2;
		border: 1px solid #333;
		margin: 10px;
	}
	.footer4 {
		grid-area: 2 / 2 / 3 / 3;
		border: 1px solid #333;
		margin: 10px;
	}
}
 /* Screens <768px */
@media screen and (max-width: 768px) {
		body {
		display: block;
		}
	
	.header,
	.box1, 
	.box2, 
	.box3 {
		height: 150px;	
		border: 1px solid #333;
		margin-bottom: 15px;
	}

	.main,
	.aside {
		height: auto;
		margin-bottom: 15px;
	}
	

	.footer {
		border: 1px solid #333;
		display: block;
	}
	
	.footer1,
	.footer2,
	.footer3,
	.footer4 {
		height: 140px;
		border: 1px solid #333;
		margin: 10px;
	}
}

body {
	grid-template-rows: 100px 200px auto 200px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: beige;
}

[class*="button"] {
	margin: 10px;
	border-radius: 5px;	
}

.button4 {
	margin-left: auto;
}


.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	background-color: beige;
}

[class*="section"] {
	height: 80px;
	flex: 1 230px;
	margin: 10px;
	border: 1px solid #333;
}

.aside {
	display: flex;
	flex-direction: column;
	background-color: beige;
}






